{% extends "template.html.twig" %}


{% block body %}
    {{ parent() }}

    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>
                    Retailer's Name
                </th>
                <th>
                    County
                </th>
                <th>
                    Action
                </th>
            </tr>

            {% for value in data %}
                <tr>
                    <td>
                        {{ value.name }}
                    </td>
                    <td>
                        {{ value.county }}
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <a class="btn btn-sm btn-warning btn-xs" href="{{ url.edit ~ value.latitude_id }}"><i class="fa fa-pencil"></i> Edit</a>
                                </td>
                                <td>
                                    <a class="btn   btn-danger btn-xs" href="{{ url.delete ~ value.latitude_id }}"><i class="fa fa-trash"></i> Delete </s>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}    
        </table>

    </div>

{% endblock %}{# empty Twig template #}
